# User Database (nexus-db)
USER_DB_URL=your_user_db_url
USER_DB_SERVICE_ROLE_KEY=your_user_db_service_role_key

# Host Database (nexus-host-db)
HOST_DB_URL=your_host_db_url
HOST_DB_SERVICE_ROLE_KEY=your_host_db_service_role_key

# Server Configuration
PORT=5000
